<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<!-- <div id="brandname">
			Machine Learning App with Flask
		</div> -->
		<h1>Predicting popularity of reddit posts</h1>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter the Title of reddit post</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="Title" rows="6" cols="50"></textarea><br>
		<input class="form-input" type="text" name="Upvote_ratio" placeholder="Upvote_ratio"><br>
        <input class="form-input" type="text" name="Gilded" placeholder="Gilded"><br>
        <input class="form-input" type="text" name="Number_of_Comments" placeholder="Number_of_Comments"><br>
        <input class="form-input" type="text" name="neg" placeholder="neg"><br>
        <input class="form-input" type="text" name="neu" placeholder="neu"><br>
        <input class="form-input" type="text" name="pos" placeholder="pos"><br>
        <input class="form-input" type="text" name="compound" placeholder="compound"><br>

        <input type="submit" class="my-cta-button" value="Predict">

		
		
	</form>
	<br>
    <br>

    <h3>{{ prediction_text }}</h3>

    <br>
    <br>
		
	</div>

	
	

</body>
</html>
